<div class="border-shadow"></div>

<div class="session-window">
  <img class="session-logo img-circle" src="/assets/logo3.png">
  <% if flash[:errors] %>
    <div class="errors alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% end %>

  <div class="sign-in<%= ' unhide' if @toggle == "session" %>">
    <h1>Sign In</h1>

    <form action="<%= session_url %>" method="post" class="col-xs-12 form-horizontal">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-2">
          <i class="fa fa-user"></i>
          <input type="text" id="session-name" class="form-control" placeholder="Username" name="session[username]">

          <i class="fa fa-key"></i>
          <input type="password" id="session-pw" class="form-control" placeholder="Password" name="session[password]">

          <div class="col-xs-4">
            <button type="submit" class="submit-button btn btn-primary btn-block" disabled data-toggle="tooltip" data-placement="bottom" title="Sign In"><i class="fa fa-sign-in"></i></button>
          </div>

          <div class="col-xs-4">
            <button type="button" class="guest-button btn btn-primary btn-block" data-toggle="tooltip" data-placement="bottom" title="Guest Login"><i class="fa fa-user"></i></i></button>
          </div>

          <div class="col-xs-4">
            <button type="button" class="toggle-form btn btn-primary btn-block" data-toggle="tooltip" data-placement="bottom" title="New User"><i class="fa fa-user-plus"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="new-user<%= ' unhide' if @toggle == "user" %>">
    <h1>New User</h1>

    <form action="<%= users_url %>" method="post" class="col-xs-12 form-horizontal">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-2">
          <i class="fa fa-user"></i>
          <input type="text" id="user-name" class="form-control" placeholder="Username" name="user[username]">

          <i class="fa fa-key"></i>
          <input type="password" id="user-pw" class="form-control" placeholder="Password" name="user[password]">

          <i class="fa fa-unlock-alt"></i>
          <input type="password" id="user-pw-con" class="form-control" placeholder="Confirm Password" name="user[confirm_password]">

          <div class="col-xs-4 col-xs-offset-1">
            <button type="submit" class="submit-button btn btn-default btn-block" disabled data-toggle="tooltip" data-placement="bottom" title="Create User"><i class="fa fa-user-plus"></i></button>
          </div>

          <div class="col-xs-4 col-xs-offset-2">
            <button type="button" class="toggle-form btn btn-default btn-block" data-toggle="tooltip" data-placement="bottom" title="Sign In"><i class="fa fa-sign-in"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="col-xs-12">

</div>

<div id="session-photos" class="transitions-enabled clearfix">
  <div class="photo-sizer"></div>
  <% @photos.each do |photo| %>
    <div class="photo-item">
      <img src="<%= photo.thumb_url %>"/>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  // tooltips
  $('button').tooltip({ container: 'body' });

  // form swap
  $('.toggle-form').click(function () {
    $('#session-name, #session-pw, #user-name, #user-pw, #user-pw-con').val('');
    $('.errors').remove();
    $('.submit-button').prop("disabled", true);
    if ($('.sign-in').css('display') === "block") {
      $('.sign-in').slideUp({ easing: 'easeOutQuad'});
      $('.new-user').slideDown({ easing: 'easeOutQuad'});
    } else {
      $('.sign-in').slideDown({ easing: 'easeOutQuad'});
      $('.new-user').slideUp({ easing: 'easeOutQuad'});
    }
  });

  // submit button toggle
  $(function () {
    action();
  });

  $('#session-name, #session-pw, #user-name, #user-pw, #user-pw-con').on("keyup", action);

  function action() {
    if($('#session-name').val().length > 0 && $('#session-pw').val().length > 0) {
      $('.submit-button').prop("disabled", false);
    } else if ($('#user-name').val().length > 0 && $('#user-pw').val().length > 0 && $('#user-pw-con').val().length > 0) {
      $('.submit-button').prop("disabled", false);
    } else {
      $('.submit-button').prop("disabled", true);
    }
  }

  // guest login
  $('.guest-button').click(function (e) {
    $('#session-name').val('guest');
    $('#session-pw').val('password');
    e.currentTarget.blur();
    action();
    window.setTimeout(function () {
      $($('.submit-button')[0]).trigger('click');
    }, 500);
  });

  // masonry
  var $grid = $('#session-photos').imagesLoaded(function () {
    $grid.masonry({
      itemSelector: '.photo-item',
      percentPosition: true,
      columnWidth: '.photo-sizer',
      isAnimated: false
    });
  });

  var windowHeight = $(window).height();
  $('#session-photos').css('max-height', windowHeight)
</script>
