<div class="border-shadow"></div>

<div class="info-toggle">
  <i class="fa fa-info-circle"></i>
</div>

<div class="info-panel">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <p>
    Pictur is a mock photo sharing web application built in its entirety over a fifteen
    day stretch in August 2015. Inspiration for design came from websites such as
    Imgur, Pinterest, and Instagram. These websites were referenced for general
    design, organization, and functionality. The style of Pictur, however, was entirely
    manufactured, not copied or mimicked.
  </p>

  <p>
    Pictur runs a Postgres database inside Ruby on Rails. The front end is handled
    by Backbone and jQuery. HTML5 and CSS3 were extensively used in combination
    with Bootstrap. Source code can be found on
    <a href="https://github.com/shoecar/pictur" target="_blank">github</a>.
  </p>

  <div class="all-logos">
    <div class="logo-wrap">
      <img src="/assets/Pg_logo.png" alt="" />
    </div>
    <div class="logo-wrap">
      <img src="/assets/Ruby_on_Rails.svg.png" alt="" />
    </div>
    <div class="logo-wrap">
      <img src="/assets/backbone-logo.png" alt="" />
    </div>
    <div class="logo-wrap">
      <img src="/assets/jQurery.gif" alt="" />
    </div>
    <div class="logo-wrap">
      <img src="/assets/HTML5_Logo_512" alt="" />
    </div>
    <div class="logo-wrap">
      <img src="/assets/CSS3_logo" alt="" />
    </div>
    <div class="logo-wrap">
      <img src="/assets/bootstrap-logo.png" alt="" />
    </div>
  </div>

  <h3>designed, built, and authored by
    <a href="http://shoecar.github.io/" target="_blank">Tad Schukar</a>
  </h3>
</div>

<div class="session-window">
  <img class="session-logo img-circle" src="/assets/logo3.png">
  <% if flash[:errors] %>
    <div class="errors alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% end %>

  <div class="sign-in<%= ' unhide' if @toggle == "session" %>">
    <h1>Sign In</h1>

    <form action="<%= session_url %>" method="post" class="col-xs-12 form-horizontal">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-2">
          <i class="fa fa-user"></i>
          <input type="text" id="session-name" class="form-control" placeholder="Username" name="session[username]" maxlength="16">

          <i class="fa fa-key"></i>
          <input type="password" id="session-pw" class="form-control" placeholder="Password" name="session[password]" maxlength="16">

          <div class="col-xs-4">
            <button type="submit" class="submit-button btn btn-primary btn-block" disabled data-toggle="tooltip" data-placement="bottom" title="Sign In"><i class="fa fa-sign-in"></i></button>
          </div>

          <div class="col-xs-4">
            <button type="button" class="guest-button btn btn-primary btn-block" data-toggle="tooltip" data-placement="bottom" title="Guest Login"><i class="fa fa-user"></i></i></button>
          </div>

          <div class="col-xs-4">
            <button type="button" class="toggle-form btn btn-primary btn-block" data-toggle="tooltip" data-placement="bottom" title="New User"><i class="fa fa-user-plus"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="new-user<%= ' unhide' if @toggle == "user" %>">
    <h1>New User</h1>

    <form action="<%= users_url %>" method="post" class="col-xs-12 form-horizontal">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-2">
          <i class="fa fa-user"></i>
          <input type="text" id="user-name" class="form-control" placeholder="Username" name="user[username]" maxlength="16">

          <i class="fa fa-key"></i>
          <input type="password" id="user-pw" class="form-control" placeholder="Password" name="user[password]" maxlength="16">

          <i class="fa fa-unlock-alt"></i>
          <input type="password" id="user-pw-con" class="form-control" placeholder="Confirm Password" name="user[confirm_password]" maxlength="16">

          <div class="col-xs-4 col-xs-offset-1">
            <button type="submit" class="submit-button btn btn-default btn-block" disabled data-toggle="tooltip" data-placement="bottom" title="Create User"><i class="fa fa-user-plus"></i></button>
          </div>

          <div class="col-xs-4 col-xs-offset-2">
            <button type="button" class="toggle-form btn btn-default btn-block" data-toggle="tooltip" data-placement="bottom" title="Sign In"><i class="fa fa-sign-in"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="session-photos" class="transitions-enabled clearfix">
  <div class="photo-sizer"></div>
  <% @photos.each do |photo| %>
    <div class="photo-item">
      <img src="<%= photo.thumb_url %>">
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var CURRENTUSER;

  // tooltips
  $('button').tooltip({ container: 'body' });

  // form swap
  $('.toggle-form').click(function () {
    $('#session-name, #session-pw, #user-name, #user-pw, #user-pw-con').val('');
    $('.errors').remove();
    $('.submit-button').prop("disabled", true);
    if ($('.sign-in').css('display') === "block") {
      $('.sign-in').slideUp({ easing: 'easeOutQuad'});
      $('.new-user').slideDown({ easing: 'easeOutQuad'});
    } else {
      $('.sign-in').slideDown({ easing: 'easeOutQuad'});
      $('.new-user').slideUp({ easing: 'easeOutQuad'});
    }
  });

  // submit button toggle
  $(function () {
    var $logo = $('.session-logo');
    $logo.imagesLoaded(function () {
      $logo.css('display', 'block');
    });
    window.setTimeout(function () {
      action();
    }, 100);
    // photoAnimation();
  });

  $('#session-name, #session-pw, #user-name, #user-pw, #user-pw-con').on("keyup", action);

  function action() {
    if($('#session-name').val().length > 0 && $('#session-pw').val().length > 0) {
      $('.submit-button').prop("disabled", false);
    } else if ($('#user-name').val().length > 0 && $('#user-pw').val().length > 0 && $('#user-pw-con').val().length > 0) {
      $('.submit-button').prop("disabled", false);
    } else {
      $('.submit-button').prop("disabled", true);
    }
  }

  // guest login
  $('.guest-button').click(function (e) {
    $('#session-name').val('guest');
    $('#session-pw').val('password');
    e.currentTarget.blur();
    action();
    window.setTimeout(function () {
      $($('.submit-button')[0]).trigger('click');
    }, 500);
  });

  // masonry
  var $grid = $('#session-photos').imagesLoaded(function () {
    $grid.masonry({
      itemSelector: '.photo-item',
      percentPosition: true,
      columnWidth: '.photo-sizer',
      isAnimated: false
    });
    $grid.css('opacity', '1')
  });

  var windowHeight = $(window).height();
  $('#session-photos').css('max-height', windowHeight)

  // info toggle
  $('.info-toggle').click(function (e) {
    $('.info-panel').css('-webkit-transform', 'translate3d(0, 20px, 0) translateX(-50%)');
    $('.info-panel').css('-moz-transform', 'translate3d(0, 20px, 0) translateX(-50%)');
    $('.info-panel').css('-ms-transform', 'translate3d(0, 20px, 0) translateX(-50%)');
    $('.info-panel').css('-o-transform', 'translate3d(0, 20px, 0) translateX(-50%)');
    $('.info-panel').css('transform', 'translate3d(0, 20px, 0) translateX(-50%)');
    $('.info-toggle').fadeOut();
  });
  $('.close, .border-shadow').click(function (e) {
    $('.info-panel').css('-webkit-transform', '');
    $('.info-panel').css('-moz-transform', '');
    $('.info-panel').css('-ms-transform', '');
    $('.info-panel').css('-o-transform', '');
    $('.info-panel').css('transform', '');
    $('.info-toggle').fadeIn();
  });
</script>
