<div class="panel panel-default">
  <div class="panel-heading">
    <% if (forPhoto) { %>
      posted by:
      <a class="close-window-user" href="#user/<%= comment.get('user_id') %>/photos">
        <%= comment.escape('username') %>
      </a>
    <% } else { %>
      <% if (comment.get('photo_url')) { %>
        <a href="#photo/<%= comment.escape('photo_id') %>">
          <% if (comment.escape('photo_title').length === 0) { %>
            <span>(no title)</span>
          <% } else { %>
            <%= comment.escape('photo_title') %>
          <% } %>
        </a>
      <% } else { %>
        <span>(deleted)</span>
      <% } %>
    <% } %>
    <span class="comment-created">
      <% if (comment.get('created')) { %>
        <%= comment.get('created') %> ago
      <% } else { %>
        just posted
      <% } %>
      <% if (CURRENTUSER.id === comment.get('user_id')) { %>
        <button type="button" class="delete-comment btn btn-lrg btn-danger"><i class="fa fa-trash-o"></i></button>
      <% } %>
    </span>
  </div>

  <div class="panel-body">
    <p><%= comment.escape('body') %></p>
  </div>
</div>
