<% var first = true; %>
<% comments.each(function (comment) { %>
  <% var wrapClasses = first ? 'first-comment comment-wrap col-xs-12 col-sm-10 col-sm-offset-1' : 'comment-wrap col-xs-12 col-sm-10 col-sm-offset-1'; %>
  <% first = false; %>
  <div class="<%= wrapClasses %>">

    <div class="panel panel-default">
      <div class="panel-heading">
        posted by:
        <a class="close-window-user" href="#user/<%= comment.get('user_id') %>">
          <%= comment.escape('username') %>
        </a>
        <span class="comment-created">
          <% if (comment.get('created')) { %>
            <%= comment.get('created') %> ago
          <% } else { %>
            just posted
          <% } %>
          <% if (CURRENTUSER.id === comment.get('user_id')) { %>
            <button type="button" class="delete-comment btn btn-lrg btn-danger"><i class="fa fa-trash-o"></i></button>
          <% } %>
        </span>
      </div>

      <div class="panel-body">
        <p><%= comment.escape('body') %></p>
      </div>
    </div>
  </div>
<% }); %>
