<a href="javascript:void(0)" class="photo-thumb">
  <img src="<%= photo.escape('thumb_url') %>" alt="" />



  <h1 style="position: absolute; color: white; font-weight: 900; top: 40px; left: 180px; background-color: black;"><%= photo.get('id') %></h1>



  <div class="info-wrap">
    <div class="photo-info">
      <p class="photo-time">
        posted <%= photo.get('created') %> ago
      </p>
    </div>

    <div class="count-info">
      <div class="photo-counts">
        <p><i class="fa fa-comments"></i><%= photo.escape('num_comments') %></p>
      </div>

      <div class="photo-counts">
        <p><i class="fa fa-heart"></i><%= photo.escape('votings_score') %></p>
      </div>
    </div>
  </div>
</a>
