<div class="fullscreen"></div>

<div class="pop-window col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

  <div class="pop-content">
    <a class="close-window">&times;</a>

    <a href="<%= photo.escape('url') %>" target="_blank">
      <img src="<%= photo.escape('url') %>" class="full-photo"/>
    </a>

    <% if (CURRENTUSER.id === photo.get('user_id')) { %>
      <button type="button" class="delete-photo btn btn-lrg btn-danger"><i class="fa fa-trash-o"></i></button>
    <% } %>

    <% if (user.escape('username').length > 0 && photo.escape('user_id') != CURRENTUSER.id) { %>
      <div class="row">
        <h3 class="col-xs-3">posted by:</h3>

        <p class='col-xs-9'>
          <a class="close-window-user" href="#user/<%= user.get('id') %>">
            <%= user.escape('username') %>
          </a>
        </p>
      </div>
    <% } %>

    <% if (CURRENTUSER.id === photo.get('user_id') || photo.escape('title').length > 0) { %>
      <div class="row">
        <h3 class="col-xs-3">
          title:
          <% if (CURRENTUSER.id === photo.get('user_id')) { %>
            <i class="change-title fa fa-pencil"></i>
          <% } %>
        </h3>

        <p class='photo-title col-xs-7'>
          <% if (photo.escape('title').length > 0) { %>
            <%= photo.escape('title') %>
          <% } %>
        </p>
      </div>
    <% } %>

    <% if (CURRENTUSER.id === photo.get('user_id') || photo.escape('description').length > 0) { %>
      <div class="row">
        <h3 class="col-xs-3">
          description:
          <% if (CURRENTUSER.id === photo.get('user_id')) { %>
            <i class="change-description fa fa-pencil"></i>
          <% } %>
        </h3>

        <p class='photo-description col-xs-9'>
          <% if (photo.escape('description').length > 0) { %>
            <%= photo.escape('description') %>
          <% } %>
        </p>
      </div>
    <% } %>


    <div class="row">
      <h3 class="col-xs-12">
        comments:
      </h3>

      <div class="photo-comments"></div>
    </div>
  </div>
</div>
