<div class="fullscreen"></div>

<div class="pop-window col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

  <div class="pop-content">
    <a class="close-window">&times;</a>

    <a href="<%= photo.escape('url') %>" target="_blank">
      <img src="<%= photo.escape('url') %>" class="full-photo"/>
    </a>

    <div class="row modal-info well">
      <div class="col-xs-6 col-sm-3">
        <h3>posted by</h3>
        <p>
          <a class="close-window-user" href="#user/<%= user.get('id') %>">
            <%= user.escape('username') %>
          </a>
        </p>
      </div>

      <div class="col-xs-6 col-sm-3">
        <h3>submitted</h3>
        <p>
          <%= photo.get('created') %> ago
        </p>
      </div>

      <div class="col-xs-6 col-sm-3">
        <h3>
          title
          <% if (CURRENTUSER.id === photo.get('user_id')) { %>
            <i class="change-title fa fa-pencil"></i>
          <% } %>
        </h3>

        <p class="photo-title">
          <% if (photo.escape('title').length > 0) { %>
            <%= photo.escape('title') %>
          <% } else { %>
            <span>(no title)</span>
          <% } %>
        </p>
      </div>

      <div class="col-xs-6 col-sm-3">
        <div class="modal-buttons">
          <% if (CURRENTUSER.id === photo.get('user_id')) { %>
            <button type="button" class="delete-photo btn btn-lrg btn-danger">
              <i class="fa fa-trash-o"></i>
            </button>
          <% } %>
            <button type="button" class="comment-photo btn btn-lrg btn-default">
              <i class="fa fa-comment"></i>
            </button>
            <button type="button" class="voting-photo btn btn-lrg btn-primary">
              <i class="fa fa-heart"></i>
            </button>
        </div>
      </div>
    </div>

    <div class="photo-comment-form col-xs-12 col-sm-10 col-sm-offset-1"></div>

    <h3 class="col-xs-12">
      description
      <% if (CURRENTUSER.id === photo.get('user_id')) { %>
        <i class="change-description fa fa-pencil"></i>
      <% } %>
    </h3>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="photo-description">
              <%= photo.escape('description').length > 0 ? photo.escape('description') : '<span>(no description)</span>' %>
            </p>
          </div>
        </div>
      </div>

    <h3 class="comments-header col-xs-12">
      comments
    </h3>

    <div class="photo-comments col-xs-12"></div>

    <div class="no-comments col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <span>(no comments)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
