<img src="<%= photo.escape('url') %>"/>

<% if (photo.escape('title').length > 0) { %>
  <h1>
    <%= photo.escape('title') %>

    <% if (CURRENTUSER.id === photo.get('user_id')) { %>
      <button type="button" class="btn btn-lrg btn-primary">Edit Title</button>
    <% } %>
  </h1>
<% } else { %>
  <% if (CURRENTUSER.id === photo.get('user_id')) { %>
    <button type="button" class="btn btn-lrg btn-primary">Add Title</button>
  <% } %>
<% } %>

<% if (photo.escape('description').length > 0) { %>
  <p>
    <%= photo.escape('description') %>
  </p>

  <% if (CURRENTUSER.id === photo.get('user_id')) { %>
    <button type="button" class="btn btn-lrg btn-primary">Edit Description</button>
  <% } %>
<% } else { %>
  <% if (CURRENTUSER.id === photo.get('user_id')) { %>
    <button type="button" class="btn btn-lrg btn-primary">Add Description</button>
  <% } %>
<% } %>

<% if (user.escape('username').length > 0 && photo.escape('user_id') != CURRENTUSER.id) { %>
  <h4>
    posted by:
    <a href="#user/<%= user.get('id') %>">
      <%= user.escape('username') %>
    </a>
  </h4>
<% } %>

<% if (CURRENTUSER.id === photo.get('user_id')) { %>
  <a href="#" class='delete-photo'>Delete Photo</a>
<% } %>
