<a href="<%= photo.escape('url') %>" target="_blank">
  <img src="<%= photo.escape('url') %>" class="full-photo"/>
</a>

<% if (CURRENTUSER.id === photo.get('user_id')) { %>
  <button type="button" class="delete-photo btn btn-lrg btn-danger"><i class="fa fa-trash-o"></i></button>
<% } %>

<h1 class='photo-title'>
  <% if (photo.escape('title').length > 0) { %>
    <%= photo.escape('title') %>
  <% } %>

  <% if (CURRENTUSER.id === photo.get('user_id')) { %>
    <% if (photo.escape('title').length === 0) { %>
      Add Title
    <% } %>
    <i class="change-title fa fa-pencil"></i>
  <% } %>
</h1>


<p class='photo-description'>
  <% if (photo.escape('description').length > 0) { %>
    <%= photo.escape('description') %>
  <% } %>

  <% if (CURRENTUSER.id === photo.get('user_id')) { %>
    <% if (photo.escape('description').length === 0) { %>
      Add Description
    <% } %>
    <i class="change-description fa fa-pencil"></i>
  <% } %>
</p>


<% if (user.escape('username').length > 0 && photo.escape('user_id') != CURRENTUSER.id) { %>
  <h3>
    posted by:
    <a href="#user/<%= user.get('id') %>">
      <%= user.escape('username') %>
    </a>
  </h3>
<% } %>
