<h1>
  <%= album.get('name') %>
  <% if (album.get('user_id') === CURRENTUSER.id) { %>
    <a href="/#album/edit/<%= album.get('id') %>">edit</a>
  <% } %>
</h1>

<h4>
  submitted <%= album.get('created') %> ago
</h4>

<div class="album-left-arrow">
  <i class="fa fa-arrow-circle-left"></i>
</div>
<div class="album-right-arrow">
  <i class="fa fa-arrow-circle-right"></i>
</div>

<div class="slick-carousel">
  <% photos.each(function (photo) { %>
    <a href="#photo/<%= photo.get('id') %>"><img src="<%= photo.escape('thumb_url') %>" data-filters=<%= photo.get('filters') %>></a>
  <% }); %>
</div>
